
<!-- Page selection -->
<!--<footer>-->
<div class="pagination">
    <a href="/main/{%c%}" class="previous" id=1>Prev</a>
    <a href="/main/{%a%}" class="page" id=2>{%a%}</a>
    <a href="/main/{%b%}" class="page" id=3>{%b%}</a>
    <a href="/main/{%c%}" class="page" id=4>{%c%}</a>
    <a href="/main/{%d%}" class="page active" id=5>{%d%}</a>
    <a href="/main/{%e%}" class="page" id=6>{%e%}</a>
    <a href="/main/{%f%}" class="page" id=7>{%f%}</a>
    <a href="/main/{%g%}" class="page" id=8>{%g%}</a>
    <a href="/main/{%e%}" class="next" id=9>Next</a>
</div>
</footer>
</div>
